.nav {
    background-color: rgb(121, 31, 31);
    position: relative;
    z-index: 1;
    height: 80px;
    box-shadow: 0px 4px 4px;
    margin: 0;
    padding: 0;
}
.nav-brand img {
    width: 190px;
    object-fit: contain;
}

.nav-button {
    margin-right: 1rem;
    padding: 1rem 1.6rem;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #eb6100;
    text-decoration: none;
    border-radius: 0.5rem;
}
.nav-button:hover {
    color: #fff;
    background: #f56500;
}

.container {
    margin: 0 auto;
    margin-top: 3rem;
}
.form-tab {
    width: 300px;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    border: 1.5px solid #dcdcdc;
}
.add-button {
    margin-right: 1rem;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #eb6100;
    text-decoration: none;
    border: none;
    outline: none !important;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    .nav-brand img {
        width: 130px;
        object-fit: contain;
    }
    .nav-button {
        padding: 0.7rem 0.7rem;
        font-size: 0.7rem;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        background-color: #eb6100;
        text-decoration: none;
        border-radius: 0.5rem;
    }
    .nav-button:hover {
        color: #fff;
        background: #f56500;
    }
}
